# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv*/

# Data and checkpoints
/data/
/checkpoints/
/logs/

# Downloaded models / datasets
/downloadModel/
/exp/helperFunc/data/

# Training logs / outputs
/pipe/logs/

# Intermediate outputs
/pipe/checkpoints/
/pipe/data/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Temporary files
*.tmp
*.swp
*.swo
